@use "../../vars" as *;
@use "../../border" as bd;
@use "../../hsla";

// ---- Inbox popover ----
// Channel info
.channelHeader__35a7e {
    border-bottom: 2px dashed $border-color-normal;
}

// Inbox message containers
.messageContainer__95796 {
    padding: 0;
}

.messages__1ccd1 {
    padding: 16px 0 0 0;
}

// Remove "replied to" in inbox due to space constraint
.container__95796 .compact_c19a55 .repliedMessage_c19a55,
.container__2692d .compact_c19a55 .repliedMessage_c19a55 {
    display: none;
}

// "Mark Inbox as read", "Notifications", "Mark as read", Jump buttons
.primary_a41c2a:hover:not(.disabled__4d064),
.secondary__45d4f,
.tertiary_ad6d80,
.jumpButton_ed0c8c {
    background-color: hsla.default($accent-hue, 0.3);
}

.secondary__45d4f:hover:not(.disabled__4d064),
.tertiary_ad6d80:hover:not(.disabled__4d064) {
    background-color: hsla.default($accent-hue, 0.7);
}
