@use "../../vars" as *;
@use "../../hsla";

// ---- General menu popover ----
// Option in menu when hovered
.colorDefault_c1e9c4 {
    &.focused_c1e9c4 {
        background-color: hsla.default($accent-hue, 0.2);
    }
    &:active:not(.hideInteraction_c1e9c4) {
        background-color: hsla.default($accent-hue, 0.7);
    }
    .checkbox_c1e9c4,
    .radioSelection_c1e9c4 {
        color: $accent-color;
    }
}
// Menu slider bar
.barFill_a562c8 {
    background: $accent-color;
}
// Menu selected option checkbox
.activeIcon_d40c56 path {
    fill: $accent-color;
}

// Nonstandard option
.customLabelContainer_c2c6a6 {
    &:hover {
        background: hsla.default($accent-hue, 0.2);
    }
    &:active {
        background: hsla.default($accent-hue, 0.7);
    }
}
