@use "../../vars" as *;
@use "../../hsla";

// ---- Message options popover ----
// Hovered normal option
.colorDefault_c1e9c4.focused_c1e9c4 {
    background-color: hsla.default($accent-hue, 0.2);
}

// Hovered danger option
.colorDanger_c1e9c4.focused_c1e9c4 {
    background-color: hsla.default($accent-hue, 0.7);
}

// Clicked option
.colorDefault_c1e9c4:active:not(.hideInteraction_c1e9c4) {
    background-color: hsla.default($accent-hue, 0.7);
}
