@use "../../vars" as *;
@use "../../border" as bd;

// Modals
.appMount__51fd7 .root__49fc1 {
    @include bd.border(thick $bright-color);
    background-color: $background-color;
    box-shadow: 0 0 30px 0 $dim-color;
}

// Footer
.appMount__51fd7 .footer__49fc1 {
    background-color: $background-color;
    box-shadow: none;
    border-top: 2px dashed $border-color-normal;
}
