@use "../../vars" as *;
@use "../../border" as bd;
@use "../../hsla";

// Event and new event modal
// Event card
.appMount__51fd7 .previewCard_f70348,
.card__88264 {
    @include bd.border(thin);
}

// Event cover image
.imageUploaderInner_e4d0bf {
    background-color: hsla.default($accent-hue, 0.2);
}

.avatarUploadIcon_e04502.hideDefaultIcon_e04502 {
    background-color: hsla.default($accent-hue, 0.7);
}

.imageUploaderIcon_e4d0bf path {
    fill: $bright-color;
}

.eventStatusGreen__4f804 {
    color: $accent-color;
}
