@use "../../vars" as *;
@use "../../hsla";

// ---- Invite friends to server modal ----
// Copy url
.copyInput_cedfaf .input__0f084 {
    background: transparent;
}

// Invite link settings
// Selected item icon
.selectedIcon__3f413 {
    color: $dim-color;
}

// Search bar
.container__33507 {
    background-color: #{hsla.default($accent-hue, 0.2)};
}

// Search results
.appMount__51fd7 .inviteRow__67dba:hover {
    background: hsla.default($accent-hue, 0.2);
}

// "Invite" button
.inviteRowButton__67dba {
    padding: 2px;
}
