@use "../vars" as *;
@use "../hsla";

// Notification counter
.numberBadge__40d6f {
    padding: 2px 0 0 2px;
    width: 18px !important;
}

// discord friends tab: for some reason not currently using a variable
.appMount__51fd7 .container__133bf {
    background-color: $background-color;
}

// Checkboxes
.appMount__51fd7 .checkbox_f525d3.checked_f525d3 {
    border-color: $bright-color !important;
    color: $bright-color;
    background: transparent !important;
}

.appMount__51fd7 .checkbox_f525d3.checked_f525d3 path {
    fill: currentColor;
}

.appMount__51fd7 .checkbox_f525d3.checked_f525d3 {
    background: $accent-color !important;
    border-color: $accent-color !important;
}

// Star for verified
.flowerStar__3e3b0 path {
    fill: hsla.default($accent-hue, 0.7);
}
