@use "../vars" as *;
@use "../hsla";

// Filled button with discord blue background
.lookFilled__201d5.colorBrand__201d5 {
    background: $accent-color;

    &:hover {
        background: $accent-color;
    }
}

// Buttons
.lookFilled__201d5.colorBrand__201d5,
.lookFilled__201d5.colorBrand__201d5:disabled,
.lookFilled__201d5.colorPrimary__201d5,
.lookFilled__201d5.colorBrandNew__8872c {
    background-color: hsla.default($accent-hue, 0.3);
}

.lookFilled__201d5.colorBrand__201d5:hover,
.lookFilled__201d5.colorPrimary__201d5:hover,
.lookFilled__201d5.colorBrandNew__8872c:hover {
    background-color: hsla.default($accent-hue, 0.7);
}

.lookFilled__201d5.colorBrand__201d5:active,
.lookFilled__201d5.colorPrimary__201d5:active,
.lookFilled__201d5.colorBrandNew__8872c:active {
    background-color: $accent-color;
}

// Green buttons
.lookOutlined__201d5.colorGreen__201d5 {
    background-color: hsla.default($accent-hue, 0.2);
}

// Red buttons
.lookFilled__201d5.colorRed__201d5 {
    background: $accent-color;
}

// Dangerous buttons when hovered
.button_f7ecac.dangerous_f7ecac:hover {
    color: $bright-color;
}
