@use "../vars" as *;
@use "../hsla";

// Messages from Clyde now appear as SYSTEM
.compact_c19a55.wrapper_c19a55.ephemeral__5126c,
.cozyMessage__5126c.wrapper_c19a55.ephemeral__5126c,
.message__5126c.ephemeral__5126c.selected__5126c,
.mouse-mode.full-motion .ephemeral__5126c:hover {
    border-color: hsla.default($accent-hue, 0.7);
    background-color: transparent;
}

// No left bar
.ephemeral__5126c:before {
    display: none;
}

// Change popout banner
[aria-label="Clyde"] .popoutBanner_c3e427 {
    background-color: $background-color !important;
}

// Change avatar
.ephemeral__5126c .avatar_c19a55 {
    filter: contrast(2) saturate(100) invert(1);
}

.full-motion .avatar_c19a55.clickable_c19a55:hover {
    filter: hue-rotate(130deg) contrast(2) saturate(100);
}

// Change name
.ephemeral__5126c .username_c19a55 {
    visibility: hidden;
    padding-right: 0.5rem;
}

.ephemeral__5126c .username_c19a55::after {
    visibility: visible;
    content: "SYSTEM";
    display: block;
    color: $clyde-color;
    position: absolute;
    top: -0.15rem;
    left: 0;
    background: linear-gradient(transparent, $background-color 40%, transparent 60%);
}

.ephemeral__5126c .username_c19a55:hover::after {
    text-decoration: underline;
}

// Totally not a bot
.ephemeral__5126c .botTag_c19a55 {
    display: none;
}

// Timestamp
.ephemeral__5126c .timestamp_c19a55,
.ephemeral__5126c .timestamp_c19a55.alt_c19a55 {
    color: $clyde-color-dim;
}

// Content
.ephemeral__5126c .markup__75297 {
    color: $clyde-color;
    text-shadow:
        2px 0 10px $clyde-color,
        -2px 0 10px $clyde-color;
    text-transform: uppercase;

    code {
        text-transform: none;
    }
}

// Dismiss message box
.ephemeralMessage__124d2 {
    color: $clyde-color-dim;
    font-size: 100%;
    text-transform: uppercase;
}

.compact_c19a55 .ephemeralMessage__124d2 {
    position: absolute;
    right: 0;
    background: linear-gradient(transparent, $background-color 50%, transparent 70%);
    bottom: -1.1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.ephemeralMessage__124d2 .anchor_edefb8 {
    color: $clyde-color;
}
