@use "../vars" as *;
@use "../glow";

// Chat content text glow
.markup__75297 {
    text-shadow:
        2px 0 10px $glow-color,
        -2px 0 10px $glow-color;
}

.repliedTextContent_c19a55.markup__75297,
.edited_c19a55,
.markup__75297 code.hljs,
.markup__75297 code.inline,
.timestamp__28d64,
.timestamp_c19a55,
.timestampInline_c19a55,
.threadMessageAccessoryPreview_c19a55 .markup__75297 {
    text-shadow: none;
}

// Hyperlinks
.markup__75297 a {
    @include glow.text(20px);
}

// Role pings, pin/join/thread alert messages, selected text
.wrapper_f61d60,
.content__235ca,
::selection {
    @include glow.text(10px);
}

// Member list usernames with role colours
.username__5d473 {
    @include glow.text(5px);
}

// Special overrides
// Superhot Team
span[style="color: rgb(196, 0, 0);"] {
    @include glow.text(20px, rgba(255, 0, 0, 0.5));
}

// SuperBOT
span[style="color: rgb(1, 1, 1);"] {
    @include glow.text(20px, rgba(0, 200, 255, 0.5));
}

// Status glow
.wrapper__44b0c {
    @include glow.status(#23a55a, 139, 47.3%, 43.9%);
    @include glow.status(#f0b232, 38, 95.7%, 54.1%);
    @include glow.status(#f23f43, 359, 82.6%, 59.4%);
    @include glow.status(#593695, 262, 46.8%, 39.8%);
}

// Do not clip chat content glow
.zalgo_c19a55 .messageContent_c19a55 {
    overflow: visible;
}

// Boosts bar
.progressBarContainer_eff079 {
    box-shadow: 0 0 10px $glow-color;
}
