@use "../vars" as *;
@use "../border" as bd;
@use "../font";
@use "../hsla";

@font-face {
    font-family: "FixedSysTrue";
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    src: url("https://saltssaumure.github.io/pios-discord-theme/font/FixedSysTrue.ttf");
}

@font-face {
    font-family: "PerfectDOS";
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    src: url("https://saltssaumure.github.io/pios-discord-theme/font/PerfectDosVga.ttf");
}

:root {
    // Set default fonts
    @include font.lang-font($font-latin, $font-code);
    letter-spacing: -0.04rem;
}

:lang(bg),
:lang(el),
:lang(ru),
:lang(uk) {
    @include font.lang-font($font-cyrillic, $font-code);
}
:lang(zh-CN) {
    @include font.lang-font($font-chinese-simplified, $font-code);
}
:lang(zh-TW) {
    @include font.lang-font($font-chinese-traditional, $font-code);
}
:lang(ja) {
    @include font.lang-font($font-japanese, $font-code);
}
:lang(ko) {
    @include font.lang-font($font-korean, $font-code);
}

// All caps on areas where case is not so important
// importantly: excludes message text, searches, emoji, and status text
.name__2ea32,
// channel names
.activityUserPopout_c1d9fd,
// now playing game and time
.protip-2urNh2,
// "right click user for more actions (not changed?)
.roleName__48c1c,
// roles
.timestamp_c19a55,
// message timestamp
.divider__908e2,
// day dividers
.children__9293f,
// channel name and desc
.navButton__08434,
// emoji/gif picker buttons
.categoryName_d02962,
// gif picker categories
.side_b3f026 // settings list
{
    text-transform: uppercase;
}

// Selected text
::selection {
    background: hsla.default($accent-hue, 0.7);
}

// Code blocks and inline
.markup__75297 code.hljs,
.markup__75297 code.inline {
    font-family: var(--font-code);
    @include bd.border(thin, bright);
    padding: 1px 8px 3px 8px;
}

// Code in replied message
.markup__75297.repliedTextContent_c19a55 code.inline {
    padding: 1px 8px 2px 8px;
}

// Underline #channels and @pings
.appMount__51fd7 .wrapper_d4fa29 {
    text-decoration: underline;
    background: $embed-color;
}

// User, role, and channel mentions
.appMount__51fd7 .mention {
    color: $bright-color;
}

// Fix font size of channel group and user group labels to match others
.da-username,
.container_cc72c1,
.name-3YKhmS {
    font-size: 16px;
}

// [user] created thread, pinned message, joined server, etc. alert message
.content__235ca {
    text-transform: uppercase;
}

.content__235ca a {
    text-transform: none;
}

.compact__235ca {
    margin-left: 0;
}
