// Adds dashes between channel/member groups
.containerDefault__29444:not(:first-of-type)::before,
.membersGroup_c8ffbb.container_cc72c1:not(:first-of-type) > span:last-child::before {
    position: absolute;
    font-size: 16pt;
    color: var(--channels-default);
}
