@use "../../vars" as *;
@use "../../hsla";

// ---- Servers sidebar ----
// Unread server/channel dot
.unread__2ea32,
.item__58105 {
    background-color: $accent-color;
}

// "New" bubble in servers sidebar
.mention__3b95d {
    background-color: $accent-color;
}

// Home / favourites button
.wrapper__6e9f8 {
    .childWrapper__6e9f8 {
        color: $accent-color;
    }
    &:is(:hover, .selected__6e9f8) {
        .childWrapper__6e9f8 {
            background-color: hsla.default($accent-hue, 0.7);
            color: $bright-color;
        }
    }
}

// Add a server / explore public servers button
.circleIconButton__5bc7e {
    color: $accent-color;

    &.selected__5bc7e {
        background-color: hsla.default($accent-hue, 0.7);
    }
}

// Notification count badge
.lowerBadge_cc5dd2 {
    @at-root .numberBadge__2b1f5 {
        padding-left: 2px;
        padding-top: 0.5px;
    }
}
