@use "../vars" as *;
@use "../border" as bd;
@use "../hsla";

// Main chat section
.chatContent_f75fb0 {
    @include bd.border(thick);
}

// "Jump to present", "New messages since", "Messages failed to load" bars
.jumpToPresentBar__0f481,
.newMessagesBar__0f481,
.messagesErrorBar__0f481 {
    background-color: $accent-color;
    opacity: 0.9;
}

// Messages allow overflow in case of oversize embeds
.message__1ccd1,
.message__95796 {
    overflow: visible;
}

// Message react/reply etc buttons
.wrapper_f7ecac {
    @include bd.border(thin);
}

// Pin icon for pin alerts
.iconContainer__235ca {
    padding: 0.1rem;
}

// Reply/thread pipe
.repliedMessage_c19a55:before,
.cozy_c19a55.hasThread_c19a55:after {
    border-left-width: 3px;
    border-top-width: 1px;
}

.cozy_c19a55.hasThread_c19a55:after {
    border-bottom-width: 1px;
}

// piOS style message boxes in compact mode
.compact_c19a55.wrapper_c19a55 {
    @include bd.border(thin);
    margin: calc(var(--pios-spacing) * 1.5rem) 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    padding-right: 1rem !important;
}

// Remove box if system message eg. pin
.compact_c19a55.wrapper_c19a55.systemMessage__5126c {
    border: 0;
}

// Message info
.compact_c19a55 .header_c19a55 {
    position: absolute;
    top: -1.6rem;
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(transparent, $background-color 40%, transparent 60%);
}

.compact_c19a55 .header_c19a55 > span {
    display: block;
}

// Hides timestamps for the same time as previous message
.compact_c19a55 .timestampVisibleOnHover_c19a55 {
    width: 0;
    color: transparent;
}

// Badges from ShowBadgesInChat https://github.com/mwittrien/BetterDiscordAddons/tree/master/Plugins/ShowBadgesInChat///
.compact_c19a55 .badgesChat-f_cbR8 {
    top: 0;
}

// Corrects alignment of username when badges are present
.compact_c19a55 .username_c19a55 {
    vertical-align: top;
}

// Special message left bar
.automodMessage__5126c:before,
.ephemeral__5126c:before,
.mentioned__5126c:before,
.replying__5126c:before {
    width: 3px;
}

// Reply
// Post username and timestamp
.compact_c19a55.hasReply_c19a55 .header_c19a55,
.compact_c19a55 .repliedMessage_c19a55 + .contents_c19a55 .header_c19a55 {
    top: -2.7rem;
}

// Replied content
.compact_c19a55 .repliedMessage_c19a55 {
    margin-left: 0;
    padding-left: 0;
    top: -2px;
}

.executedCommand_c19a55,
.threadMessageAccessory_c19a55 {
    height: auto;
}

.compact_c19a55 .repliedMessage_c19a55 .timestamp_c19a55 {
    line-height: 1rem;
    height: auto;
}

// Replied elbow
.compact_c19a55 .repliedMessage_c19a55::before {
    display: none;
}

// Icons inside replied content
.compact_c19a55 .repliedMessage_c19a55 .repliedTextContentIcon_da8b30,
.compact_c19a55 .repliedMessage_c19a55 .badgesChat-f_cbR8 img,
.compact_c19a55 .repliedMessage_c19a55 .ownerIcon__5d473,
.compact_c19a55 .repliedMessage_c19a55 .emoji {
    width: 1rem;
    height: 1rem;
}

// message react/reply etc buttons
.compact_c19a55 .container__040f0 {
    top: -16px;
}

// Message contents
.compact_c19a55 .contents_c19a55 {
    margin: 0;
    padding-left: 0;
    text-indent: 0;
}

// Block quote starter
.blockquoteContainer__75297 .blockquoteDivider__75297 {
    width: 3px;
}

// Embeds
.embedFull__623de.markup__75297,
// most embeds
.appMount__51fd7 .wrapperAudio_f316dd,
// audio
.fileWrapper__0ccae,
// file
.wrapper_d5f3cd,
// invite
.footer__4d95d // code/text
{
    background: $embed-color;
    border: 0;
    text-shadow: none;
}

.grid__623de {
    padding: 12px 18px;
}

.embedMargin__623de {
    margin-top: 0;
}

// Video embed
// Video metadata
.metadata__7bef0 {
    backdrop-filter: blur(3px);
}

// play buttons on video
.wrapper__926d7 {
    padding: 12px;
}

// timeline slider
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e:after,
.mediaBarProgress_f7877e:before {
    background: $accent-color;
}

// timeline slider knob
.mediaBarGrabber_f7877e,
.mediaBarInteraction_f7877e:hover .mediaBarGrabber_f7877e,
.mediaBarInteractionDragging_f7877e .mediaBarGrabber_f7877e {
    background: $bright-color;
}

// Reacts you have added
:is(.reaction__23977, .reaction_f8896c) {
    :is(&, &:hover) {
        @include bd.border(thin);
        background: transparent;

        &:is(.reactionMe__23977, .reactionMe_f8896c) {
            border-color: $accent-color;
            background-color: hsla.default($accent-hue, 0.3);
        }
    }
}

// Mention
.wrapper_f61d60 {
    background: hsla.default($accent-hue, 0.3);
    color: $bright-color;

    &.interactive:hover {
        background: hsla.default($accent-hue, 0.5);
    }
}

// Thread from message
// Thread spine
// Upper
.compact_c19a55.hasThread_c19a55 .contents_c19a55::before {
    display: none;
}

// Lower
.spine__9271d {
    top: 0.15rem;
    left: 0rem;
    z-index: -1;
    border-bottom-width: 1px;
    border-left-width: 3px;
}

// Thread info
.container__9271d {
    background-color: hsla.default($accent-hue, 0.2);
}

.compact_c19a55 .container__9271d {
    position: relative;
    left: 2.5rem;
}

// Typing box
.channelTextArea__74017 {
    @include bd.border(thick);
}

.scrollableContainer__74017 {
    min-height: 60px;
}

// "Replying to" bar
.stackedBars__74017 {
    background: transparent;
    border-bottom: 2px dashed $border-color-normal;
}

// @on button
.mentionButton__841c8 {
    color: $accent-color;
}

// Uploading files bar
.upload_aa605f {
    background-color: $embed-color;
}

// Command suggestions bar
.appMount__51fd7 .selected-3H3-RC,
.appMount__51fd7 .option_a19535 {
    background-color: hsla.default($accent-hue, 0.3);
}

// follow to get this channel's updates in your server add dotted topline
.form_f75fb0 .wrapper__44df5 {
    border-top: 2px dashed $border-color-normal;
    margin-top: 0;
}

// Forums
.appMount__51fd7 .container_f369db {
    background: $background-color;
}

// Post title
.card_f369db .headerText_faa96b {
    --text-muted: #{$bright-color};
}

// Post message preview
.card_f369db .markup__75297 {
    text-shadow: none;
}

// Browse channels
.appMount__51fd7 .container__0b563,
.appMount__51fd7 .header__0b563,
.appMount__51fd7 .container_c2efea {
    background: $background-color;
}

// Poll
.pollContainer_b7e1cb {
    @include bd.border(thin);
    background: $background-color;

    // Answer
    @at-root .answer__4c520 {
        // Default
        &.normalStylesDefault_a1443c {
            --custom-poll-style-vote-percentage: #{$embed-color};
            --custom-poll-style-border: #{$embed-color};
        }

        // Voted
        &.votedStyles_a1443c,
        // Winner
        &.victorStyles_a1443c {
            --custom-poll-style-vote-percentage: #{$accent-color};
            --custom-poll-style-border: #{$accent-color};
            path {
                fill: $accent-color;
            }
        }

        .answerInner__4c520 {
            @include bd.border(thin);
            background: transparent;

            &.currentlyVoting__4c520.selected__4c520 {
                --control-brand-foreground: #{$accent-color};
            }
        }
    }
}
