@use "../vars" as *;
@use "../border" as bd;
@use "../hsla";

// ---- Explore public servers ----

// Background
.appMount__51fd7 .pageWrapper_a3a4ce {
    background-color: $background-color;
    @include bd.border(thick);
}

// Search results searchbox
.appMount__51fd7 .searchBox__56feb {
    background-color: hsla.default($accent-hue, 0.2);
    backdrop-filter: brightness(0);
}

.searchBox__56feb:focus,
.searchBox__56feb:focus-within {
    border-color: transparent;
}

// Selected category
.categoryItem_c72b37.selectedCategoryItem_c72b37 .itemInner_c72b37 {
    background-color: hsla.default($accent-hue, 0.3);
}

// Search category searchbox
.search_f69601 .searchBox_f69601:focus,
.search_f69601 .searchBox_f69601:focus-within {
    box-shadow: none;
}

.search_f69601 .searchBox_f69601 .searchBoxInput__56498 {
    color: $bright-color;
}

// Clear searchbox icon
.clearIcon__21453,
.search_f69601 .searchBox_f69601 .closeIcon_f69601 {
    color: $dim-color;
}

.clearIcon__21453:hover,
.search_f69601 .searchBox_f69601 .closeIcon_f69601:hover {
    color: $middle-color;
}

// Language dropdown
.lookFilled__3f413.select__3f413 {
    border-color: transparent;
    color: $dim-color;
}

.popout__3f413 {
    @include bd.border(thin);
}

// Server card
.card_e90879,
.card_e825f6 {
    @include bd.border(thin);
}

// Separators in search results
.separator_e825f6 {
    display: none;
}

// Student hub icon
.iconContainer_a76561 {
    background-color: hsla.default($accent-hue, 0.7);
}
