@use "../border" as bd;
@use "../hsla";
@use "../vars" as *;

// Forums
.container_f369db {
    @include bd.border(thick);

    // Forum post
    @at-root .mainCard_f369db {
        @include bd.border(thin);
        background: transparent;

        &:hover {
            transform: none;
        }

        // Text post footer
        .textContentFooter__9a337 {
            background: linear-gradient(transparent, $background-color);
        }

        // Make new post
        // Image container
        @at-root .container__94439,
            .popout__94439 {
            @include bd.border(thin, bright);

            @at-root .badge__94439 {
                background: $accent-color;
                border: none;
            }
        }
        // Post text area
        .channelTextArea__74017 {
            border: none;
        }
    }

    // Search result count row
    @at-root .matchingPostsRow_f369db {
        background: transparent;
    }

    // Post guildelines
    .container_ca49a1 {
        @include bd.border(thin);
    }

    // Tags
    @at-root .tagsContainer_f369db {
        align-items: flex-start;

        // Tags list
        // Expand on hover
        @at-root .tagList_f369db {
            height: unset;
            max-height: 32px;
            transition: max-height 0.2s ease;
            &:hover,
            &:has(.selected_a2c9e8) {
                max-height: 128px;
            }

            // Tags
            @at-root .pill_a2c9e8.pill_a2c9e8 {
                @include bd.border(thin);
                background: $background-color;

                &.selected_a2c9e8 {
                    border-color: $accent-color;
                    background-color: hsla.default($accent-hue, 0.3);
                    --background-tertiary: #{hsla.default($accent-hue, 0.3)};
                }
            }

            // // Hoist selected tag to top
            // .tag_f369db.selected_a2c9e8 {
            //     order: -1;
            // }
        }

        // "See all tags" dropdown
        @at-root .tagsButton_f369db {
            position: static;

            @at-root .countContainer_f369db,
                .countContainer__5808f {
                background: $accent-color;
            }
        }

        // "See more tags" dropdown that currently does nothing
        @at-root .tagsButtonPlaceholder_f369db {
            display: none;
        }
    }
}

// Scroller in opened forum post, make actions bar actually sticky
.scrollerInner__36d07 {
    overflow: unset;

    // Actions bar
    @at-root .container__34c2c {
        @at-root :is(.addReactButton__34c2c, .buttonInner__34c2c) {
            @include bd.border(thin);
            &:hover {
                border-color: $dim-color;
            }

            &:is(.active_f8896c, .active__34c2c) {
                border-color: $accent-color;
                background-color: hsla.default($accent-hue, 0.3);

                &:is(:hover, :active) {
                    color: $accent-color;

                    .icon_f8896c {
                        color: inherit;
                    }
                }
            }
        }
    }
}

// Message highlight (???)
.card_d4f6c7,
.card_d4f6c7:hover {
    @include bd.border(thin);
}
